.foodStore {
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	padding: 2rem;
	width: 100%;
}

.descriptionTitle {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 3rem;
}
.descriptionText {
	font-size: 0.8rem;
	font-weight: 300;
}

.foodStoreInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}
.foodStoreInfo__Url {
	color: black;
	text-decoration: none;
	padding: 0.3rem;
}
.foodStoreInfo__Url:hover {
	opacity: 0.5;
}
@media (max-width: 1000px) {
	.foodStore {
		display: flex;
		flex-direction: column;
	}
}
