.modal_food_store {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.modal_body {
	padding: 2rem;
	padding-bottom: 1rem;
	width: 100%;
	margin-left: 0.5rem;
}

.modal_body__title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 3rem;
}
.modal_body__text {
	font-size: 0.8rem;
	font-weight: 300;
}

.modal_footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	margin-top: 0;
}
.modal_footer__url {
	color: black;
	text-decoration: none;
	padding: 0.3rem;
}
.modal_footer__url:hover {
	opacity: 0.8;
}
@media (max-width: 1000px) {
	.modal_food_store {
		display: flex;
		flex-direction: column;
	}
}
