.nav {
	position: relative;
}
.nav_container {
	margin: 0;
}
.nav_main_link {
	font-size: 1.5rem;
	margin: 10px;
	color: #3d3a3a;
}
.nav_main_link:hover {
	color: cornflowerblue;
	opacity: 0.8;
}

.nav_sub_link {
	text-decoration: none;
	color: #3d3a3a;
}
.nav_sub_link:hover {
	opacity: 0.8;
	color: cornflowerblue;
}
.nav_dropdown {
	display: none;
}

@media (max-width: 768px) {
	.nav {
		display: none;
	}

	.nav_dropdown {
		display: inherit;
		position: relative;
	}

	.nav_sub_link {
		text-align: center;
		text-decoration: none;
		color: #3d3a3a;
	}
}
