.navbar {
	position: relative;
}
.container {
	margin: 0;
}
.mainurl {
	font-size: 1.5rem;
	margin: 10px;
	color: #3d3a3a;
}
.mainurl:hover {
	color: cornflowerblue;
	opacity: 0.8;
}

.link {
	margin-right: 0.5rem;
}

.link__url {
	text-decoration: none;
	color: #3d3a3a;
}
.url:hover {
	opacity: 0.8;
	color: cornflowerblue;
}
.dropdown {
	display: none;
}

@media (max-width: 768px) {
	.navbar {
		display: none;
	}
	.navbar {
		position: relative;
	}

	.dropdown {
		display: inherit;
		position: relative;
	}
	.dropdown__url {
		text-align: center;
		text-decoration: none;
		color: #3d3a3a;
	}
}
