.main {
	font-size: 1.3rem;
	color: black;
}
.main:hover {
	opacity: 0.5;
}

.a {
	text-decoration: none;
	color: #3d3a3a;
}
.a:hover {
	opacity: 0.5;
}

.link:hover {
	opacity: 0.6;
	cursor: pointer;
}
